body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
}

.header-list {
    list-style: none;
    margin: 10px;
    padding: 20px;
    justify-content: center;
    font-size: 32px;
    display: flex;
}

.logo-img {
    height: 70px;
    width: auto;
}

footer {
    margin-top: auto;
    border-top: 1px solid black;
}

.footer-list {
    list-style: none;
    margin: 10px;
    padding: 20px;
    justify-content: center;
    font-size: 18px;
    display: flex;
}

.sidebar {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    height: 630px;
    width: 150px;
    padding: 10px;
}

.sidebar-item {
    cursor: pointer;
    padding: 8px 10px;
    font-size: 18px;
}

.sidebar-item:hover {
    background-color: #EEF3F5;
    border-radius: 4px;
}

.cleaned-link {
    color: #000000;
    text-decoration: none;
    margin: 10px;
    padding: auto;
    transition: 0.2s;
}

.cleaned-link:hover {
    color: #727272;
}

.products {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0%;
}

.product-item {
    margin: 10px 10px 10px 10px;
}

.product-name {
    text-align: right;
    font-weight: bold;
}

.product-img {
    height: 300px;
    width: 300px;
}

.content {
    display: flex;
} 

/* .products {
    display: flex;
    justify-content: center;
    float: left;
    width: 70%;
    margin-right: -220px;
    overflow: hidden;
}

.products .product-item {
    width: 25%;
    padding: 10px 20px 10px 0px;
    float: left;
    text-align: center;
    line-height: 1.2;
}

.products .product-item .product-img {
    width: 100%;
    margin-bottom: 8px;
} */