body {
    font-family: "Briem Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
}

.header-list {
    list-style: none;
    margin: 10px;
    padding: 20px;
    justify-content: center;
    font-size: 32px;
    display: flex;
}

.header-link {
    color: #000000;
    text-decoration: none;
    margin: 10px;
    padding: auto;
    transition: 0.2s;
}

.header-link:hover {
    color: #727272;
}

.logo-img {
    height: 70px;
    width: auto;
}

footer {
    margin-top: auto;
}

.footer-list {
    list-style: none;
    margin: 10px;
    padding: 20px;
    justify-content: center;
    font-size: 18px;
    display: flex;
}

.footer-link {
    color: #000000;
    text-decoration: none;
    margin: 10px;
    padding: auto;
    transition: 0.2s;
}

.footer-link:hover {
    color: #727272;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 630px;
    width: 150px;
    padding: 10px;
}

.sidebar-item {
    cursor: pointer;
    padding: 8px 10px;
    font-size: 18px;
}

.sidebar-item:hover {
    background-color: #EEF3F5;
    border-radius: 4px;
}

.cleaned-link {
    color: #000000;
    text-decoration: none;
    margin: 10px;
    padding: auto;
    transition: 0.2s;
}

.cleaned-link:hover {
    color: #727272;
}